* {
    font-family: "museo-sans", Sans-Serif;
}

label {
    margin: 0;
    font-weight: normal;
}

input[type="checkbox"] {
    height: 14px;
    width: 14px;
}

.popover {
    border-color: red;
    color: red;
    max-width: 350px;
}

.arrow {
    border-left-color: red !important;
    border-right-color: red !important;
}

/*----------------------------------------Navigation Bar----------------------------------------*/
.navbar {
    margin-bottom: 0;
    border-bottom-color: #D5D5D5;
    border-radius: 0;
}

.btn-lg {
	border-radius: 4px;
}

#logo {
    display: inline-block;
    height: 50px;
    width: 191px;
    padding-top: 10px;
    padding-left: 10px;
}

/*----------------------------------------Jumbotron----------------------------------------*/
#overlay h1 {
	font: 50px HOEFLER TEXT, Sans-Serif;
}

#primary_ad {
    background: black url("../images/primary_ad.jpg");
    height: 550px;
    margin: 0 auto;
}

#overlay {
	padding-top: 160px;
	font: 50px Hoefler Text, Sans-Serif;
	color: black;
	text-align: center;
	text-shadow: 0 -1px 1px rgba(255,255,255,0.6);
	margin: 0 auto;
}

#overlay_button {
    display: inline-block;
    height: 45px;
    width: 220px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid #00E6E6;
    color: #00E6E6;
    font-size: 16px;
    text-decoration: none;
}

#overlay_button span {
    display: inline-block;
    padding: 12px 0;
}

/*----------------------------------------Locations----------------------------------------*/
.location_shell {
    display: inline-block;
    position: relative;
}

.location_shell+.location_shell {
    margin-left: 25px;
}

.location {
    background-size: cover;
	background-repeat: no-repeat;
	height: 170px;
	width: 360px;
	padding-top: 75px;
	font: 20px Hoefler Text, Sans-Serif;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
	color: white;
}

.location_row {
    display: table;
    margin: 0 auto;
}

.coming_soon {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#locations {
    margin-top: 20px;
	text-align: center;
	width: 1170px;
}

#locations h3 {
    font-family: "museo-sans", Sans-Serif;
}

#top_row {
    margin-top: 20px;
}

#bottom_row {
	margin-top: 25px;
}

#appleton {
	background-image: url("../images/appleton.jpg");
}

#milwaukee {
	background-image: url("../images/milwaukee.jpg");
}

#red_bud {
	background-image: url("../images/red_bud.jpg");
}

#madison {
    background-image: url("../images/madison.jpg");
    opacity: 0.5;
}

#chicago {
    background-image: url("../images/chicago.jpg");
    opacity: 0.5;
}

#minneapolis {
    background-image: url("../images/minneapolis.jpg");
    opacity: 0.5;
}

/*----------------------------------------How To----------------------------------------*/
.option_ad {
    height: 450px;
    width: 600px;
    padding-top: 190px;
	color: white;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
}

.how_to_option {
    width: 600px;
}

.option_header {
    font: 35px Hoefler Text, Sans-Serif;
}

.option_desc {
    text-align: left;
}

.option_desc h3 {
    font-family: "museo-sans", Sans-Serif;
}

.how_to_header_line {
    width: 500px;
    margin: 15px 0 15px 0;
    border-bottom: 3px solid #CFCFCF
}

#how_to_section {
    margin-top: 40px;
    text-align: center;
    width: 1400px;
}

#how_to_header {
    margin-bottom: 20px;
}

#how_to_header h2 {
    font-family: "museo-sans", Sans-Serif;
}

#left_hdr_line {
    float: left;
}

#right_hdr_line {
    float: right;
}

#shoveler_option {
    float: left;
}

#shoveler_ad {
    background-image: url("../images/shoveler.jpg");
}

#poster_option {
    float: right;
}

#poster_ad {
    background-image: url("../images/poster.jpg");
}

#or {
    position: relative;
    top: 210px;
}

/*----------------------------------------Video----------------------------------------*/
.video_header_line {
    width: 300px;
    margin: 15px 0 15px 0;
    border-bottom: 3px solid #CFCFCF
}

#video_section {
    width: 1170px;
}

#video_header {
    margin: 60px 0 20px 0;
    text-align: center;
}

#video_header h2 {
    font-family: "museo-sans", Sans-Serif;
}

#left_video_line {
    float: left;
    margin-left: 120px;
}

#right_video_line {
    float: right;
    margin-right: 120px;
}

#video_wrapper {
    position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

#video_wrapper iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*----------------------------------------Customer Reviews----------------------------------------*/
.customer_avatar {
    background-size: contain;
    height: 100px;
    width: 100px;
}

.customer_text {
    float: right;
    height: 100px;
    width: 850px;
}

.customer_text p {
    font-style: italic;
}

.customer_text h5 {
    margin: 0;
    font-family: "museo-sans", Sans-Serif;
    font-weight: 600;
}

.carousel-indicators {
    bottom: -50px;
    background-color: #FFF;
}

.carousel-indicators li {
    border-color: grey;
    height: 14px;
    width: 14px;
    margin: 0;
}

.carousel-indicators li+li {
    margin-left: 12px;
}

.carousel-indicators li+.active {
    margin-left: 12px;
}

.carousel-indicators .active {
    background-color: grey;
    height: 14px;
    width: 14px;
}

#reviews_section {
    margin-top: 100px;
    width: 1000px;
}

.stars {
    margin-bottom: 8px;
}

#dean_avatar {
    background-image: url("../images/dean.png");
}

#kent_avatar {
    background-image: url("../images/kent.png");
}

#annie_avatar {
    background-image: url("../images/annie.png");
}

#hogarth_avatar {
    background-image: url("../images/hogarth.png");
}

/*----------------------------------------Social Links----------------------------------------*/
.social_link {
    background-size: contain;
    display: inline-block;
    height: 45px;
    width: 45px;
}

#social_links a+a {
    margin-left: 20px;
}

#social_links {
    display: table;
    margin: 120px auto 0 auto;
}

#facebook_link {
    background-image: url("../images/facebook.png");
}

#twitter_link {
    background-image: url("../images/twitter.png");
}

#email_link {
    background-image: url("../images/email.png");
}

/*----------------------------------------Log In----------------------------------------*/
.log_section {
    height: 410px;
}

.log_section:first-child {
    width: 50%;
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #737373;
}

.log_section button {
    height: 40px;
    width: 100%;
    margin-top: 15px;
    background-color: #FFF;
    border: 1px solid #00E6E6;
    color: #00E6E6;
}

.log_section:last-child {
    width: 45%;
    float: left;
}

.log_section h4 {
    height: 25px;
    border-bottom: 1px solid #00E6E6;
    padding: 0;
    font-family: "museo-sans", Sans-Serif;
    font-weight: 600;
}

.log_form input+input {
    margin-top: 8px;
}

.log_form > input {
    height: 35px;
    width: 250px;
    padding: 4px 4px;
}

.log_form div {
    display: inline-block;
}

.checkbox_container {
    margin-top: 10px;
}

#log_in {
    background-color: #F1F1F1;
    width: 800px;
    height: 490px;
    border-left: 1px solid #00E6E6;
    border-right: 1px solid #00E6E6;
    -webkit-box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 2px 0px;
}

#log_in > * {
    padding-left: 10px;
}

#float_container {
    margin-top: 15px;
}

#role_container h5 {
    height: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #00E6E6;
    font-weight: 600;
}

#role_container > div {
    margin-top: 5px;
}

#role_container > div+div {
    margin-left: 5px;
}

/*----------------------------------------Profile----------------------------------------*/
#profile_container {
    width: 1200px;
    height: 500px;
    background-color: #F1F1F1;
    border-left: 1px solid #00E6E6;
    border-right: 1px solid #00E6E6;
}

/*----------------------------------------Help----------------------------------------*/
#help_container {
    width: 1200px;
    padding: 0 30px 30px 30px;
    background-color: #F1F1F1;
    border-left: 1px solid #00E6E6;
    border-right: 1px solid #00E6E6;
    -webkit-box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 2px 0px;
}

#help_container h2 {
    width: 700px;
    border-bottom: 1px solid #00E6E6;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "museo-sans", Sans-Serif;
}

#left_help_column {
    float: left;
}

#posting_help h3, #shoveling_help h3, #other_help h3 {
    font-family: "museo-sans", Sans-Serif;
}

#help_img_container {
    float: right;
    padding-top: 20px;
}

#help_img_container img {
    float: left;
}

#help_img_container img+img {
    float: right;
}

/*----------------------------------------Contact----------------------------------------*/
.contact_container h3 {
     margin: 10px 0 0 0;
     text-align: center;
     font-family: "museo-sans", Sans-Serif;
 }

.contact_container h5{
    margin: 5px 0 15px 0;
    text-align: center;
    font-family: "ff-nuvo-sc-web-pro", Sans-Serif;
}

.contact_container ul {
    padding: 0;
    margin: auto;
    list-style: none;
}

#contact_page_container {
    width: 950px;
    padding: 0 75px 35px 75px;
    background-color: #F1F1F1;
    border-left: 1px solid #00E6E6;
    border-right: 1px solid #00E6E6;
    -webkit-box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 2px 0px;
}

#contact_page_container h2 {
    width: 700px;
    border-bottom: 1px solid #00E6E6;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    font-family: "museo-sans", Sans-Serif;
}

#caleb_container {
    float: left;
}

#jared_container {
    float: right;
}

/*----------------------------------------Terms & Privacy----------------------------------------*/
#terms_container {
    width: 950px;
    padding: 0 40px 20px 40px;
    background-color: #F1F1F1;
    border-left: 1px solid #00E6E6;
    border-right: 1px solid #00E6E6;
    -webkit-box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 2px 0px;
}

/*----------------------------------------About----------------------------------------*/
#about_banner {
    position: relative;
    width: 1350px;
    background: linear-gradient(169deg,#FFF 40%, rgba(83, 215, 252, 0.73) 110%);
    padding: 0 40px 20px 40px;
    /*background-color: #FFF;*/
    -webkit-box-shadow: rgba(0, 0, 0, 0.247059) 0px 0px 2px 0px;
}

#about_banner > img {
    float: left;
    margin-left: 20px;
    opacity: 0.2;
    -webkit-transform: skewX(160deg);
}

#about_banner > span {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    opacity: 0.6;
}

#about_title {
    float: left
}

#about_title img {
    opacity: 0.3;
    -webkit-transform: skewX(150deg);
}

#about_title span {
    position: absolute;
    left: 38px;
    bottom: 100px;
    z-index: 100;
    font-family: "ff-nuvo-sc-web-pro", Sans-Serif;
    font-size: 28px;
}

#about_container {
    width: 950px;
    padding: 0 40px 20px 40px;
    background-color: #F1F1F1;
    border-left: 1px solid #00E6E6;
    border-right: 1px solid #00E6E6;
    -webkit-box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 2px 0px;
}

#about_container h2{
    font-family: "museo-sans", Sans-Serif;
}

#top_about_div {
    width: 200px;
    margin: 30px auto 0 auto;
    border-bottom: 1px solid rgba(0, 255, 255, 0.45);
}

#mid_about_div {
    width: 500px;
    margin: 10px auto;
    border-bottom: 1px solid #00E6E6;
}

#bot_about_div {
    width: 200px;
    margin: 0 auto 30px auto;
    border-bottom: 1px solid rgba(0, 255, 255, 0.45);
}

/*----------------------------------------Footer----------------------------------------*/
.footer_list li+li {
    margin-left: 15px;
}

#footer {
    width: 1170px;
    margin: 10px auto 40px auto;
    border-top: 1px solid #E6E6E6;
}

#top_footer {
    height: 20px;
    margin-top: 25px;
}

#left_footer {
    float: left;
}

#right_footer {
    float: right;
}

#footer_divider {
    display: block;
    color: #DBDBDB;
    margin: 0 auto;
    padding-top: 3px;
}

#copyright {
    margin-top: 20px;
    color: #DBDBDB;
    text-align: center;
}