h1 {
	font: 50px HOEFLER TEXT, Sans-Serif;
}

.btn-lg {
	border-radius: 4px;
}

.navbar {
    margin-bottom: 0;
    border-bottom-color: #D5D5D5;
    border-radius: 0;
}

.location_shell {
	padding: 0 15px 0 15px;
}

.location {
	height: 150px;
	padding-top: 55px;
	font: 20px Hoefler Text, Sans-Serif;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
}

#logo {
    display: inline-block;
    height: 50px;
    width: 191px;
    padding-top: 10px;
    padding-left: 10px;
}

#primary_ad {
    background-image: url("../images/shoveler5.jpg");
    background-color: black;
    height: 550px;
    margin: 0 auto;
}

#overlay {
	padding-top: 160px;
	font: 50px Hoefler Text, Sans-Serif;
	color: black;
	text-align: center;
	text-shadow: 0 -1px 1px rgba(255,255,255,0.6);
	margin: 0 auto;
}

#locations {
	text-align: center;
}

#bottom_row {
	margin-top: 25px;
}

#appleton {
	background-image: url("../images/appleton.jpg");
}

#milwaukee {
	background-image: url("../images/milwaukee.jpg");
}

#red_bud {
	background-image: url("../images/red_bud.jpg");
}