.navbar {
    margin-bottom: 0;
    border-bottom-color: #D5D5D5;
    border-radius: 0;
}

#logo {
    display: inline-block;
    height: 50px;
    width: 191px;
    padding-top: 10px;
    padding-left: 10px;
}

#primary_ad {
    height: 600px;
    background-color: black;
}

#shoveler {
    background-image: url("../images/shoveler5.jpg");
    height: 100%;
    width: 1400px;
    margin: 0 auto;
}

#fader {
    position: absolute;
    height: 600px;
    width: 1400px;
    background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0.65) 12%,rgba(0,0,0,0) 40%);
}

#left_fade {
    left: 0;
}

#right_fade {
    right: 0;
}